#content-pane {
  border:  2px solid black;
  display: inline-block;
}

.form-buttons {
  display:         flex;
  flex-direction:  row;
  gap:             0.375rem;
  justify-content: center;
  margin:          0.75rem 0;
}

.hidden {
  display: none !important;
}

.invis {
  visibility: hidden !important;
}

.pane {
  width: 30rem;
}

.tab-button {
  background-color: #aaaaaa;
  border:           1px solid black;
  border-bottom:    0;
  border-radius:    1rem 1rem 0 0;
  height:           2rem;
  line-height:      2rem;
  padding:          0.2rem 0.7rem;
  user-select:      none;
}

.tab-button:not(:first-child) {
  margin-left: -1px;
}

.tab-button:hover {
  background-color: #d3d3d3;
}

.tab-button.selected {
  background-color: #f0f0f0;
}

.tab-strip {
  display:        flex;
  flex-direction: row;
  margin-bottom:  -2px;
  position:       relative;
}
