* {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size:   12px;
}

body {
  background: var(--dialog-background);
  padding:    0.75rem 0;
}

body.dragging, body.dragging * {
  cursor:              grabbing;
  user-select:         none;
  -webkit-user-select: none;
}

.flex.column.x-mid {
  align-items: center;
}

.flex.row.x-mid {
  justify-content: center;
}

.flex.column.y-mid {
  justify-content: center;
}

.flex.row.y-mid {
  align-items: center;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.checkmark {
  display:           inline-block;
  height:            2.5rem;
  width:             2.6rem;
  -webkit-transform: rotate(45deg);
  transform:         rotate(45deg);
}

/* Checkmark stem (the long part) */
.checkmark:before {
  background-color: #3eb84f;
  content:          "";
  position:         absolute;
  left:             16px;
  top:              5px;
  height:           18px;
  width:            2px;
}

/* Checkmark stub (the short part) */
.checkmark:after {
  background-color: #3eb84f;
  content:          "";
  position:         absolute;
  left:             9px;
  top:              21px;
  height:           2px;
  width:            8px;
}

.copy-button {
  border-radius: 0.5rem;
  min-height:    100%;
}

.copy-button:not(.on-cooldown):hover {
  background-color: #c5c5c5;
}

.copy-button.on-cooldown .inner {
  display: none;
}

.copy-button:not(.on-cooldown) .checkmark {
  display: none;
}

.copy-button .inner {
  padding:  0;
  position: relative;
  height:   1.7rem;
  width:    2.6rem;
}

.copy-button-layer {
  background-color: var(--dialog-background);
  border-color:     black;
  border-style:     solid;
  border-radius:    0.2rem;
  border-width:     0.15rem;
  height:           68%;
  width:            34%;
  position:         absolute;
}

.copy-button-layer.back {
  left:   21%;
  bottom: 0;
}

.copy-button-layer.front {
  right:   21%;
  top:     0;
  z-index: 1;
}

.form-buttons .main-buttons {
  gap: 0.8rem;
}

.form-button {
  background:    var(--control-background);
  border:        1px solid var(--control-border);
  border-radius: 0.5rem;
  color:         var(--control-text);
  min-width:     5rem;
  padding:       0.313rem 1rem;
}

.form-button:hover {
  background: var(--control-background-hover);
}

.form-button:active {
  background: var(--control-background-active);
}

.hidden {
  display: none !important;
}

.invis {
  visibility: hidden !important;
}

.main-outputs {
  gap:    0.3rem;
  margin: 1.5rem 0;
}

.output-field {
  background-color: #7d7d7d;
  border-color:     #a0a0a0;
  border-radius:    0.5rem;
  border-style:     solid;
  border-width:     1px;
  color:            white;
  font-size:        1.2rem;
  line-height:      2rem;
  padding:          0.2rem 0.4rem;
  text-align:       center;
  width:            12rem;
}

.tab-button {
  background-color:    var(--tab-background);
  border:              1px solid var(--tab-border);
  color:               var(--tab-text);
  cursor:              default;
  height:              2rem;
  line-height:         2rem;
  margin:              0.2rem 0;
  min-width:           10rem;
  padding:             0.2rem 0.7rem;
  text-align:          center;
  user-select:         none;
  -webkit-user-select: none;
}

.tab-button:first-child {
  border-radius: 0.6rem 0 0 0.6rem;
}

.tab-button:last-child {
  border-radius: 0 0.6rem 0.6rem 0;
}

.tab-button:not(:first-child) {
  margin-left: -1px;
}

.tab-button:hover {
  background-color: var(--tab-background-hover);
}

.tab-button.selected {
  background-color: var(--tab-background-selected);
  color:            var(--tab-text-selected);
}

.tab-strip {
  margin-bottom: 1.5rem;
  position:      relative;
}
